body {
  Background-color: #d3f0f0;
}
h1{
  color: orchid;
}
h3{
  color: #66bfbf;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}